## Room Theme: SunkenCrypt, Room: sunkencrypt_new_Corridor4, Spawner: 1 
[sunkencrypt_new_Corridor4.Blob]
PrefabName=BlobElite
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[sunkencrypt_new_Corridor5.Blob]
PrefabName=Crawler_TW
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[sunkencrypt_new_Room1.Blob]
PrefabName=BlobElite
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

[sunkencrypt_new_Room2.Blob]
PrefabName=BlobElite
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

[forestcrypt_new_Burialchamber05.Skeleton]
PrefabName=NormalSkeletonWarrior
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[forestcrypt_Corridor1.Skeleton]
PrefabName=NormalSkeletonWarrior
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

## Room Theme: ForestCrypt, Room: forestcrypt_Corridor2, Spawner: 0 
[forestcrypt_Corridor2.Skeleton]
PrefabName=NormalSkeletonWarrior
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[forestcrypt_room1.Skeleton]
PrefabName=NormalSkeletonWarrior
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

## Room Theme: ForestCrypt, Room: forestcrypt_Corridor3, Spawner: 0 
[forestcrypt_Corridor3.Skeleton]
PrefabName=NormalSkeletonWarrior
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[forestcrypt_new_BurialChamber01.Ghost]
PrefabName=NormalGhostWarrior
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[forestcrypt_Chasm01.Ghost]
PrefabName=NormalGhostWarrior
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[cave_dome_bottom_lake.StoneGolem]
PrefabName=Out_Yeti
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[cave_new_corridor09.Ulv]
PrefabName=GrizzlyBear_TW
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[cave_new_corridor06.Ulv]
PrefabName=GrizzlyBear_TW
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True

[cave_new_crossroads03.Ulv]
PrefabName=GrizzlyBear_TW
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True