## Settings file was created by plugin Conversion Size & Speed v1.0.15
## Plugin GUID: org.bepinex.plugins.conversionsizespeed

[1 - General]

## If on, only admins can change the configuration on a server.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## Modifier key to hold, to fill all possible items at once. Clear value to disable this.
# Setting type: KeyboardShortcut
# Default value: LeftShift
Fill up modifier key = LeftShift

[2 - Smelter]

## Sets the maximum number of items that a Smelter can hold.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 1000
Storage space = 20

## Increases the maximum number of items that a Smelter can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 6

## Sets the maximum number of fuel that a Smelter can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Fuel space = 40

## Increases the maximum number of fuel that a Smelter can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 6

## Sets how much fuel a Smelter needs per produced product.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 20
Fuel per product = 2

## Time in seconds that a Smelter needs for one conversion.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 1000
Conversion time = 15

[3 - Blast furnace]

## Sets the maximum number of items that a Blast furnace can hold.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 1000
Storage space = 20

## Increases the maximum number of items that a Blast furnace can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 6

## Sets the maximum number of fuel that a Blast furnace can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Fuel space = 40

## Increases the maximum number of fuel that a Blast furnace can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 6

## Sets how much fuel a Blast furnace needs per produced product.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 20
Fuel per product = 2

## Time in seconds that a Blast furnace needs for one conversion.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 1000
Conversion time = 15

[4 - Eitr refinery]

## Sets the maximum number of items that a Eitr refinery can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Storage space = 20

## Increases the maximum number of items that a Eitr refinery can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 5

## Sets the maximum number of fuel that a Eitr refinery can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Fuel space = 20

## Increases the maximum number of fuel that a Eitr refinery can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 5

## Sets how much fuel a Eitr refinery needs per produced product.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 20
Fuel per product = 1

## Time in seconds that a Eitr refinery needs for one conversion.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 1 to 1000
Conversion time = 20

[5 - Charcoal kiln]

## Sets the maximum number of items that a Charcoal kiln can hold.
# Setting type: Int32
# Default value: 25
# Acceptable value range: From 1 to 1000
Storage space = 40

## Increases the maximum number of items that a Charcoal kiln can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 5

## Time in seconds that a Charcoal kiln needs for one conversion.
# Setting type: Int32
# Default value: 15
# Acceptable value range: From 1 to 1000
Conversion time = 15

[6 - Windmill]

## Sets the maximum number of items that a Windmill can hold.
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 1 to 1000
Storage space = 50

## Increases the maximum number of items that a Windmill can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 5

## If on, Windmill always produces at average speed, regardless of wind.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Ignore wind intensity = Off

## Time in seconds that a Windmill needs for one conversion.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 1000
Conversion time = 10

[7 - Spinning wheel]

## Sets the maximum number of items that a Spinning wheel can hold.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 1 to 1000
Storage space = 50

## Increases the maximum number of items that a Spinning wheel can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 5

## Time in seconds that a Spinning wheel needs for one conversion.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 1000
Conversion time = 10

[8 - Hot tub]

## Sets the maximum number of fuel that a Hot tub can hold.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 1000
Fuel space = 50

## Increases the maximum number of fuel that a Hot tub can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 5

## Time in seconds that a Hot tub needs for one conversion.
# Setting type: Int32
# Default value: 5000
# Acceptable value range: From 1 to 10000
Conversion time = 5000

[9 - Armory]

## Sets the maximum number of items that a Armory can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Storage space = 20

## Increases the maximum number of items that a Armory can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 6

## Sets the maximum number of fuel that a Armory can hold.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 1 to 1000
Fuel space = 40

## Increases the maximum number of fuel that a Armory can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 6

## Sets how much fuel a Armory needs per produced product.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 20
Fuel per product = 2

## Time in seconds that a Armory needs for one conversion.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 1000
Conversion time = 30

