## Settings file was created by plugin Conversion Size & Speed v1.0.17
## Plugin GUID: org.bepinex.plugins.conversionsizespeed

[1 - General]

## If on, only admins can change the configuration on a server.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## Modifier key to hold, to fill all possible items at once. Clear value to disable this.
# Setting type: KeyboardShortcut
# Default value: LeftShift
Fill up modifier key = LeftShift

[Armory]

## Sets the maximum number of items that a Armory can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Storage space = 20

## Increases the maximum number of items that a Armory can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 0

## Sets the maximum number of fuel that a Armory can hold.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 1 to 1000
Fuel space = 40

## Increases the maximum number of fuel that a Armory can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 0

## Sets how much fuel a Armory needs per produced product.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 20
Fuel per product = 2

## Time in seconds that a Armory needs for one conversion.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 1000
Conversion time = 30

[Battering Ram]

## Sets the maximum number of items that a Battering Ram can hold.
# Setting type: Int32
# Default value: 25
# Acceptable value range: From 1 to 1000
Storage space = 25

## Increases the maximum number of items that a Battering Ram can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 0

## Time in seconds that a Battering Ram needs for one conversion.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Conversion time = 20

[Blast Furnace]

## Sets the maximum number of items that a Blast Furnace can hold.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 1000
Storage space = 10

## Increases the maximum number of items that a Blast Furnace can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 0

## Sets the maximum number of fuel that a Blast Furnace can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Fuel space = 20

## Increases the maximum number of fuel that a Blast Furnace can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 0

## Sets how much fuel a Blast Furnace needs per produced product.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 20
Fuel per product = 2

## Time in seconds that a Blast Furnace needs for one conversion.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 1000
Conversion time = 30

[Charcoal Kiln]

## Sets the maximum number of items that a Charcoal Kiln can hold.
# Setting type: Int32
# Default value: 25
# Acceptable value range: From 1 to 1000
Storage space = 25

## Increases the maximum number of items that a Charcoal Kiln can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 0

## Time in seconds that a Charcoal Kiln needs for one conversion.
# Setting type: Int32
# Default value: 15
# Acceptable value range: From 1 to 1000
Conversion time = 15

[Eitr Refinery]

## Sets the maximum number of items that a Eitr Refinery can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Storage space = 20

## Increases the maximum number of items that a Eitr Refinery can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 0

## Sets the maximum number of fuel that a Eitr Refinery can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Fuel space = 20

## Increases the maximum number of fuel that a Eitr Refinery can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 0

## Sets how much fuel a Eitr Refinery needs per produced product.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 20
Fuel per product = 1

## Time in seconds that a Eitr Refinery needs for one conversion.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 1 to 1000
Conversion time = 40

[Hot Tub]

## Sets the maximum number of fuel that a Hot Tub can hold.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 1000
Fuel space = 10

## Increases the maximum number of fuel that a Hot Tub can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 0

## Time in seconds that a Hot Tub needs for one conversion.
# Setting type: Int32
# Default value: 5000
# Acceptable value range: From 1 to 10000
Conversion time = 5000

[Smelter]

## Sets the maximum number of items that a Smelter can hold.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 1000
Storage space = 10

## Increases the maximum number of items that a Smelter can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 0

## Sets the maximum number of fuel that a Smelter can hold.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 1000
Fuel space = 20

## Increases the maximum number of fuel that a Smelter can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Fuel space increase per boss = 0

## Sets how much fuel a Smelter needs per produced product.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 20
Fuel per product = 2

## Time in seconds that a Smelter needs for one conversion.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 1000
Conversion time = 30

[Spinning Wheel]

## Sets the maximum number of items that a Spinning Wheel can hold.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 1 to 1000
Storage space = 40

## Increases the maximum number of items that a Spinning Wheel can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 0

## Time in seconds that a Spinning Wheel needs for one conversion.
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 1000
Conversion time = 30

[Windmill]

## Sets the maximum number of items that a Windmill can hold.
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 1 to 1000
Storage space = 50

## Increases the maximum number of items that a Windmill can hold for each boss killed.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Storage space increase per boss = 0

## If on, Windmill always produces at average speed, regardless of wind.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Ignore wind intensity = Off

## Time in seconds that a Windmill needs for one conversion.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 1000
Conversion time = 10

