## Settings file was created by plugin Meadows_Pack_1 v1.0.1
## Plugin GUID: warpalicious.Meadows_Pack_1

[1 - MWL_Ruins1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 5
Spawn Quantity = 5

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures1
Name of Creature List = MeadowsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot1
Name of Loot List = MeadowsLoot1

[10 - MWL_RuinsWell1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 5
Spawn Quantity = 5

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures1
Name of Creature List = MeadowsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot1
Name of Loot List = MeadowsLoot1

[2 - MWL_Ruins2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 10
Spawn Quantity = 10

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures1
Name of Creature List = MeadowsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot2
Name of Loot List = MeadowsLoot2

[3 - MWL_Ruins3]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 25
Spawn Quantity = 25

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures1
Name of Creature List = MeadowsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot1
Name of Loot List = MeadowsLoot1

[4 - MWL_Ruins6]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 5
Spawn Quantity = 5

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures2
Name of Creature List = MeadowsCreatures2

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot3
Name of Loot List = MeadowsLoot3

[5 - MWL_Ruins7]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 2
Spawn Quantity = 2

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures2
Name of Creature List = MeadowsCreatures2

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot1
Name of Loot List = MeadowsLoot1

[6 - MWL_Ruins8]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 5
Spawn Quantity = 5

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures2
Name of Creature List = MeadowsCreatures2

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot3
Name of Loot List = MeadowsLoot3

[7 - MWL_RuinsArena1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 25
Spawn Quantity = 25

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures1
Name of Creature List = MeadowsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot3
Name of Loot List = MeadowsLoot3

[8 - MWL_RuinsArena3]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 25
Spawn Quantity = 25

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures1
Name of Creature List = MeadowsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot2
Name of Loot List = MeadowsLoot2

[9 - MWL_RuinsChurch1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 25
Spawn Quantity = 25

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsCreatures1
Name of Creature List = MeadowsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MeadowsLoot2
Name of Loot List = MeadowsLoot2

