## Settings file was created by plugin Plains_Pack_1 v1.0.1
## Plugin GUID: warpalicious.Plains_Pack_1

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[1 - MWL_GoblinFort1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 10
Spawn Quantity = 10

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures2
Name of Creature List = PlainsCreatures2

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

[10 - MWL_FulingTower1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures3
Name of Creature List = PlainsCreatures3

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

[2 - MWL_FulingRock1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 15

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures3
Name of Creature List = PlainsCreatures3

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot2
Name of Loot List = PlainsLoot2

[3 - MWL_FulingVillage1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 15

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures2
Name of Creature List = PlainsCreatures2

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

[4 - MWL_FulingVillage2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 15

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures2
Name of Creature List = PlainsCreatures2

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

[5 - MWL_PlainsPillar1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 15

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures1
Name of Creature List = PlainsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

[6 - MWL_FulingTemple1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 15

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures2
Name of Creature List = PlainsCreatures2

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

[7 - MWL_FulingTemple2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures1
Name of Creature List = PlainsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

[8 - MWL_FulingTemple3]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures1
Name of Creature List = PlainsCreatures1

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

[9 - MWL_FulingWall1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from list in the warpalicious.More_World_Locations_CreatureLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsCreatures3
Name of Creature List = PlainsCreatures3

## When Off, location will use default loot. When On, location will select loot from list in the warpalicious.More_World_Locations_LootLists.yml file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: PlainsLoot1
Name of Loot List = PlainsLoot1

