##MineCopper

[MineRock_Copper]
SetDropChance=100
SetDropOnlyOnce=False
SetDropMin=1
SetDropMax=2

[MineRock_Copper.0]
PrefabName=CopperOre
SetTemplateWeight=0.3
SetAmountMin=1
SetAmountMax=1
ConditionGlobalKeys=defeated_eikthyr

[MineRock_Copper.1]
PrefabName=Stone
SetTemplateWeight=0.7
SetAmountMin=1
SetAmountMax=1

##Copper Frac##

[rock4_copper_frac]
SetDropChance=100
SetDropOnlyOnce=False
SetDropMin=2
SetDropMax=4

[rock4_copper_frac.0]
PrefabName=Stone
SetTemplateWeight=1
SetAmountMin=1
SetAmountMax=1

[rock4_copper_frac.1]
PrefabName=CopperOre
SetTemplateWeight=0.5
SetAmountMin=1
SetAmountMax=1
ConditionGlobalKeys=defeated_eikthyr

##MineRock_Iron##

[MineRock_Iron]
SetDropChance=100
SetDropOnlyOnce=False
SetDropMin=1
SetDropMax=2

[MineRock_Iron.0]
PrefabName=IronScrap
SetTemplateWeight=0.3
SetAmountMin=1
SetAmountMax=1
ConditionGlobalKeys=defeated_gdking

[MineRock_Iron.1]
PrefabName=Stone
SetTemplateWeight=0.7
SetAmountMin=1
SetAmountMax=1

##MudPile DropTable##

[mudpile_frac]
SetDropChance=100
SetDropOnlyOnce=False
SetDropMin=1
SetDropMax=2

[mudpile_frac.0]
PrefabName=Stone
SetTemplateWeight=0.66
SetAmountMin=1
SetAmountMax=1
ConditionBiomes=Swamp
ConditionGlobalKeys=defeated_gdking

[mudpile_frac.1]
PrefabName=IronScrap
SetTemplateWeight=0.35
SetAmountMin=1
SetAmountMax=2
ConditionBiomes=Swamp
ConditionGlobalKeys=defeated_gdking

[mudpile_frac.2]
PrefabName=Onyx_TW
SetTemplateWeight=0.01
SetAmountMin=1
SetAmountMax=1
ConditionBiomes=Swamp
ConditionGlobalKeys=defeated_gdking


## DropTable Source: MineRock5; 
[mudpile2_frac]
SetDropChance=20
SetDropOnlyOnce=False
SetDropMin=1
SetDropMax=1

[mudpile2_frac.0]
PrefabName=IronScrap
SetTemplateWeight=0.85
SetAmountMin=1
SetAmountMax=1
ConditionGlobalKeys=defeated_gdking

[mudpile2_frac.1]
PrefabName=WitheredBone
SetTemplateWeight=0.10
SetAmountMin=1
SetAmountMax=1
ConditionGlobalKeys=defeated_gdking

[mudpile2_frac.2]
PrefabName=LeatherScraps
SetTemplateWeight=0.05
SetAmountMin=1
SetAmountMax=1
ConditionGlobalKeys=defeated_gdking

## SilverVeins
[silvervein_frac]
SetDropChance=100
SetDropOnlyOnce=False
SetDropMin=2
SetDropMax=3

[silvervein_frac.0]
PrefabName=Stone
SetTemplateWeight=1
SetAmountMin=1
SetAmountMax=1

[silvervein_frac.1]
PrefabName=SilverOre
SetTemplateWeight=0.5
SetAmountMin=1
SetAmountMax=1
ConditionGlobalKeys=defeated_bonemass

## AshLandsOre
[MineRock_Meteorite]
SetDropChance=100
SetDropOnlyOnce=False
SetDropMin=1
SetDropMax=2

[MineRock_Meteorite.0]
PrefabName=Stone
SetTemplateWeight=1
SetAmountMin=1
SetAmountMax=1

[MineRock_Meteorite.1]
PrefabName=FlametalOre
SetTemplateWeight=0.5
SetAmountMin=1
SetAmountMax=1
ConditionGlobalKeys=defeated_queen